header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    text-align: center;
    color:aliceblue
}
div{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    color:black
}
body{

    text-align: center;
    background-color: skyblue;
    color:aliceblue
}
img{
    width: 10%
    
}
footer{
    color:black
}