body{
    background-color: rgb(205, 102, 102);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#content {
    background-color: aliceblue;
    max-width: 1000px;
    margin: 0auto
}
a{
    color:black;
    font-size: 16px;
    padding: 20px;
}
nav{
    background-color: beige;
}

img{
    width: 300px;
}