.logo{
    width: 150px;
}

.hero{
    width: 1200px;
}

.drink-1{
    width: 400px;
}

.drink-2{
    width: 400px;
}







/*Page 2*/

.shaker{
    width: 150px;
}

.jigger{
    width: 150px;
}

.muddler{
    width: 250px;
}